*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #4C5B66;
    height: 30vh;
    width: 100%;
}




body{
    display: flex;
    justify-content: center;
}


.encabezado{
    display: flex;
    justify-content: space-around;



}

.menu{
    list-style: none;
    display: flex;
    text-align: center;

}